/* PAGE INDEX */
/*Header*/
body {
  font-family: "montserrat";
  margin: 0;
}

header {
  background-color: #f3ebf3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 11em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

.bag {
  color: #2d1d2c;
  font-size: 1.5em;
}

.logo {
  background-image: url(logo_orinoco.png);
  width: 17em;
  height: 6em;
}

/*Produits*/

.teddies-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

li {
  display: flex;
  flex-direction: column;
  border: solid #2d1d2cbd 0.1em;
  border-radius: 2em;
  box-shadow: 6px 6px 8px 0px rgba(71, 71, 71, 0.81);
  margin: 2em;
  background-color: #f3ebf3;
}

li img {
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  object-fit: cover;
  object-position: center;
}

li p {
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 0.5em;

}

a{
  text-align: end;
  margin: 1em;
}

/*Footer*/

footer {
  text-align: center;
  background-color: #f3ebf3;
  color: #2d1d2c;
  padding: 2em 0;
  margin-top: 2em;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}
.network {
  font-size: 2em;
}

/* PAGE PRODUIT */



#img-teddy{
  width: 20em;
  border-radius: 2em;
  margin-top: 2em;
  object-fit: cover;
  object-position: center;
}

.product{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
color: #2d1d2c;
}

#description{
  margin: 0 2em;
}

select{
  margin-top: 2em;
}

#add{
  border: solid #2d1d2cbd 0.1em;
  margin-top: 2em;
  border-radius: 2em;
  background-color:  #f3ebf3;
  box-shadow: 5px 5px 5px 0px rgba(71, 71, 71, 0.81);
  padding: 1em 2em;
}

/* Général */

.img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: #2d1d2c;
}

@media all and (min-width: 650px) {
  .teddies-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  li img {
    width: 15em;
  }

  li {
    margin: 1em;
  }
  .logo{
    width: 20em;
  }

  .bag{
    font-size: 2.5em;
  }

  .product {
    flex-direction: row;
    justify-content: center;
  }

  #description {
    width: 30em;
  }
}
